body{
    margin: 0px;
    padding: 0px;
    background-color: gray;
    color: white;
}
h1{
    position: absolute;
    right: 40%;
}
.mainBox{
    margin: 0px;
    width: 100%;
    height: 100px;
    background-color: aqua;
    color: white;
}
.mainBox > a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.mainBox > a:hover{
    padding-left: 20px;
    color: red;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.boxOfOption{
    margin: 0px;
    width: 100%;
    height: 50;
    background-color: dimgray;
    color: white;
}
.boxOfOption > a{
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.boxOfOption > a:hover{
    padding-left: 20px;
    color: red;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}